
<h4>Rentals</h4>
  <table *ngIf="dataLoaded == true" class="table">
      <thead>
        <tr >
          <th>Rental Id</th>
          <th>Brand Name</th>
          <th>First and Last Name</th>
          <th>Rent Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentals">
          <td >{{rental.rentalId}}</td>
          <td>{{rental.brandName}}</td>
          <td>{{rental.firstName + rental.lastName}}</td>
          <td>{{rental.rentDate}}</td>
          <td>{{rental.returnDate}}</td>
        </tr>
      </tbody>
    </table>
