<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded == true" class="table">
      <thead>
        <tr >
          <th>Car Id</th>
          <th>Car Year</th>
          <th>Car Price</th>
          <th>Car Description</th>
          <th>Brand Name</th>
          <th>Color Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars" >
          <td >{{car.id}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice}}</td>
          <td>{{car.descriptionn}}</td>
          <td *ngFor="let brand of brands">{{brand.brandName}}</td>
          <td *ngFor="let color of colors">{{color.colorName}}</td>
        </tr>
      </tbody>
    </table>
